@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lavishly+Yours&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

.hero{
    background: url("../images/pexels-vasilis-karkalas-155349971-30344653.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.social img{
    width: 32px
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.lavishly-yours-regular {
  font-family: "Lavishly Yours", cursive;
  font-style: normal;
}

.special-red{
    color: darkred;
}
